@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  min-height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('../assets/Waves.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  background-attachment: fixed;
}

.journal-banner, .todo-main-title {
  background-image: url('../assets/OrangeTape.svg');
  background-size: cover;
  background-overflow: visible;
  background-repeat: no-repeat;
}

.quill {
  background-color: white;
}

.ql-container.ql-snow {
  height: 25vh;
  max-height: 25vh;
}

.ql-editor {
  overflow: auto;
}

#save:disabled {
  background-color: grey;
}

@layer base {
  body {
    @apply text-custom-teal-dark bg-custom-apricot;
  }
}

@layer components {
  .hover {
    @apply hover:-translate-y-1 duration-75;
  }

  .btn {
    @apply text-lg rounded-full w-40 h-8;
  }

  .btn-pop-up-warning{
    @apply  md:w-40 w-32 lg:flex-1 flex-none;
  }

  .btn-primary {
    @apply bg-custom-teal-base text-white;
  }

  .btn-secondary {
    @apply bg-white text-custom-teal-light border border-solid border-custom-teal-light;
  }

  .btn-tertiary {
    @apply bg-white text-custom-burnt-orange border border-solid border-custom-burnt-orange;
  }

  .btn-container {
    @apply flex justify-between;
  }

  .shuffle-icon {
    @apply text-custom-teal-base bg-transparent h-7 w-7;
  }

  .card, .popup-content {
    @apply bg-custom-cream rounded-3xl border border-solid border-custom-burnt-orange;
  }

  .popup-btn {
    @apply flex flex-col flex-1 shadow-md bg-custom-apricot rounded-3xl border border-solid border-custom-burnt-orange items-center p-5 gap-y-3;
  }

  .dashboard-grid {
    @apply grid grid-cols-7 grid-flow-row auto-rows-max m-10;
  }

  .display-journal {
    @apply grid-cols-subgrid col-start-4 col-span-4 row-span-4 space-y-2;
  }

  .todo-list {
    @apply grid-cols-subgrid col-span-3 row-start-2 row-span-3 overflow-y-auto p-2;
  }

  .journal-container {
    @apply bg-white bg-opacity-25 w-screen h-screen space-y-2.5;
  }

  .journal-entry {
    @apply w-4/5 md:p-[10px] lg:p-[30px] md:mx-auto;
  }

  .text-entry {
    @apply shadow-md p-2 lg:p-10 space-y-2.5;
  }

  .prompt {
    @apply text-3xl font-semibold;
  }

  .prompt-container {
    @apply flex items-center justify-between;
  }
  .shuffle-button {
    @apply ml-auto;
  }

  .subheading {
    @apply lg:text-xl text-lg;
  }

  .title-input {
    @apply bg-custom-cream block text-2xl w-full p-1;
  }

  .list-wrapper {
    @apply max-w-[382px] m-3 p-4 border-[1px] rounded-3xl border-custom-burnt-orange bg-custom-cream;
  }

  .task-wrapper{
    @apply md:max-w-[320px] m-2 p-2 border-custom-yellow rounded-lg bg-custom-yellow;
  }

  .container {
    @apply text-center mt-12;
  }

  .interactive-container {
    @apply p-2.5 lg:fixed right-[1vw] top-[1vh] w-32 rounded-lg;
  }

  .textbox {
    @apply p-2.5 text-center shadow-md lg:fixed bg-custom-yellow lg:right-[10vw] lg:top-[3vh] lg:w-[14vw] rounded-lg;
  }

}

.Collapsible__trigger{
  color: #0E8992
}

.content-text * {
  overflow-wrap: break-word;
}

/* mascot css code */
.button {
  cursor: pointer;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}

.interactive-container {
  animation: wiggle 2.5s infinite;
}
