@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  min-height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('../assets/Waves.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}

@layer base {
  body {
    @apply text-custom-teal-dark bg-custom-apricot;
  }
}

@layer components {
  .btn {
    @apply text-lg rounded-full w-40 h-8;
  }

  .btn-primary {
    @apply bg-custom-teal-base text-white;
  }

  .btn-secondary {
    @apply bg-white text-custom-teal-dark border border-solid border-custom-teal-dark;
  }

  .icon {
    @apply text-custom-teal-base bg-transparent;
  }

  .shuffle {
    @apply h-7 w-7;
  }

  .journal-entry {
    @apply bg-white bg-opacity-50 h-screen p-4;
  }

  .prompt {
    @apply text-4xl;
  }

  .subheading {
    @apply text-xl;
  }
}
